body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color:black;
}

a{
    text-decoration: none;
    color: inherit;
    
}
a:hover{
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
li {
    text-decoration: none;
}

header{
    color: white;
    height: 100vh;
}
.main-area{
    display: flex;
    justify-content: space-between;
}

.socials{
    margin: 200px 10px 0 0;
}
.social{
    margin: 0 0 15px 0;
}

.main-text{
    margin: 80px 0 0 40px ;
}
h1 {
    font-size: 70px;
    margin: 0;
}
h2 {
    font-size: 50px;
    margin: 0;
}
p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
.button{
    margin: 2em 0 0 0;
    text-align: center;
    background-color:orange;
    width: 120px;
    height: 30px;
    border-radius: 15px;
}

#about{
    background-color:orange;
    display: flex;
}
.about-text{
    padding: 40px 40px 80px 40px;
}
.headshot {
    width: 200px;
    border-radius: 100px;
    margin: 0 50px 0 0;
}

.headshot-container{
    display: flex;
    align-items: center;
}

#projects{
    background-color:orange;;
    text-align: center;
    padding: 0 0 150px 0
}

.card-container{
    display: flex;
    justify-content: space-around;
    padding: 90px 0 0 0
}
.project-card{
    max-width: 400px;
    box-shadow: 5px 5px 20px rgb(36, 36, 36);
}
.project-card:hover{
    box-shadow: 5px 5px 20px black;
}
.project-img{
    margin: 20px 0 0 0;
    width: 300px;
    border-radius: 150px;
}
.card-subtext{
    margin: 0 0 30px 0;
}
hr{
    margin-left: 30px;
    margin-right: 30px;
}

.project-link{
    font-size: 25px;
    font-weight: 300;
}
.project-link:hover{
   color: white;
}

footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 80px;
}



@media (max-width:1280px){  
.card-container{
    flex-direction: column;
    align-items: center;
}
.project-card{
    max-width: 80vw;
    margin: 0 0 100px 0;
}
#projects{
    padding: 0 0 0 0;
}
}

@media (max-width:650px){  
ul {
    font-size: 17px;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
}
.project-card{
    max-width: 90vw;
}
}
